body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */

.header-page {
  height: 72px;
  flex-shrink: 0;
  justify-content: center;
}

.container header-page-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
}

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo .addition {
  color: #2e2f42;
}

.header-link-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.header-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.header-link-item {
}

.contacts {
  font-style: normal;
}

.header-contact-list {
  display: flex;
}

.contacts-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Main content */

/* Section 1 hero image */
.hero-image {
  background-color: #2e2f42;
  height: 600px;
}

.hero-image-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  margin-top: 188px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero-image-button {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  margin-bottom: 188px;
}
.hero-image-button:hover,
.hero-image-button:focus {
  color: #fff;
  background-color: #404bbf;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

/* Section 2 Benefits  */
.benefits-section {
}
.benefits-list {
}
.benefits-item {
}

.benefits-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.benefits-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Section 3 Our Team */
.our-team-section {
  background-color: #f4f4fd;
}
.frame {
  background-color: #ffffff;
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
.personnel-list .names {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.personnel-list .job-title {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Section 4 Our Portfolio  */
.our-portfolio-container {
  margin: auto 156px auto 156px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 72px;
}
.card-portfolio {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.projects-list .projects-names {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.projects-list .projects-tipes {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Footer */
.footer-container {
  background-color: #2e2f42;
  height: 312px;
}
.footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 156px;
  display: inline-flex;
  padding-top: 102px;
  padding-bottom: 18px;
}
.footer-logo .addition {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-left: 156px;
}
